<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <separator label="Launchers" />
    <item label="Terminal emulator" icon="/usr/share/icons/gnome/48x48/apps/utilities-terminal.png">
      <action name="Execute"><execute>~/.config/openbox/scripts/urxvt.sh</execute></action>
    </item>
    <item label="Chrome (work)" icon="/usr/share/icons/hicolor/48x48/apps/google-chrome.png">
      <action name="Execute"><execute>~/.config/openbox/scripts/chrome-default-user.sh</execute></action>
    </item>
    <item label="Chrome (personal)" icon="/usr/share/icons/hicolor/48x48/apps/google-chrome.png">
      <action name="Execute"><execute>~/.config/openbox/scripts/chrome-personal.sh</execute></action>
    </item>
    <item label="File manager" icon="/usr/share/icons/gnome/256x256/apps/system-file-manager.png">
      <action name="Execute"><execute>thunar</execute></action>
    </item>
    <item label="Dictionary" icon="/usr/share/icons/gnome/48x48/apps/accessories-dictionary.png">
      <action name="Execute"><execute>~/.config/openbox/scripts/youdao_dict.py</execute></action>
    </item>
    <item label="Volume control" icon="/usr/share/icons/gnome/48x48/apps/multimedia-volume-control.png">
      <action name="Execute"><execute>pavucontrol</execute></action>
    </item>
  <separator label="HCI" />
  <item label="Reset HCI settings" icon="/usr/share/icons/gnome/48x48/apps/preferences-desktop-display.png">
    <action name="Execute"><execute>~/.config/openbox/scripts/hci-adjustments</execute></action>
  </item>
  <item label="Night mode" icon="/usr/share/icons/gnome/48x48/apps/xscreensaver.png">
    <action name="Execute"><execute>redshift -PO 4000</execute></action>
  </item>
  <item label="Switch wallpaper" icon="/usr/share/icons/gnome/48x48/apps/preferences-desktop-wallpaper.png">
    <action name="Execute"><execute>~/.config/openbox/scripts/prepare-wallpaper.sh --show-notification</execute></action>
  </item>
  <separator label="System" />
  <item label="Reload OB config" icon="/usr/share/icons/gnome/48x48/actions/view-refresh.png">
    <action name="Reconfigure" />
  </item>
  <item label="Lock screen" icon="/usr/share/icons/gnome/48x48/actions/system-lock-screen.png">
    <action name="Execute"><execute>~/.config/openbox/scripts/lock.sh</execute></action>
  </item>
  <item label="Log out" icon="/usr/share/icons/gnome/48x48/actions/system-log-out.png">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
